---
title: Наборы
tags: 
  - main
  - nav
date: 2020-06-12
layout: layout
---
section
  img(src="/img/box.png")
  h2 Дорожные наборы

section
  

  H3 Чтобы начать придумывать слова достаточно листа бумаги и карандаша. Но комплект реквизита для игры качественно меняет ситуацию:

  ul 
    li Вместо одноразовых листков бумаги в наборе многоразовые ламинированные карточки, непрозрачные напросвет 
    li Комплект из 6 одинаковых стираемых маркеров, надписи которыми выдержат касания пальцев, но легко стираются сухой тряпочкой
    li Бархатный мешочек с яркими фишками для игроков — просто высыпьте их на стол и дайте каждому выбрать свою
    li Обтекаемый деревянный футляр — идеальный формат для хранения и транспортировки набора

  p На данный момент мы изготовили первую тестовую серию наборов и проверяем их в действии. Хотите стать испытателем? 
  .card 
    a(href="#contacts") Напишите нам!