---
title: Наборы
tags: main
date: 2020-06-12
layout: layout
---
section
  img(src="/img/box.png")

section
  h1 Готовые наборы для игры

  H3 Чтобы начать играть в ЭТОВОТЭТО достаточно листа бумаги и пары карандашей. Но полноценный набор для игры качественно меняет ситуацию:

  ul 
    li Чтобы сохранить лес, в наборе вместо одноразовых листков бумаги — многоразовые ламинированные карточки, непрозрачные напросвет
    li К ним идет комплект из 6 одинаковых стираемых маркеров, надписи которым выдержат касания пальцев, но легко стираются тряпочкой
    li В бархатном мешочке лежат готовые фишки для игроков — просто высыпьте их на стол и дайте каждому выбрать свою фигуру и цвет
    li Обтекаемый деревянный футляр — идеальный формат для хранения и транспортировки набора
