---
title: Контакты
tags: 
  - main
  - nav
layout: layout
date: 2021-02-09
---

section.contact
  h2!=title
  h3 Денис К Старов
  h3 г.Москва
  h3 Телеграм: 
    a(href="https://t.me/starov")  @starov
  h3 Почта: 
    a(href="mailto:davay@etovoteto.ru") davay@etovoteto.ru
 

