---
title: Словарь
tags:
  - main
  - nav
layout: layout
date: 2020-05-07
---

section#generator
  .word 
    h2 Несуществующее слово
  .actions
    #generate Генерировать новое слово

  
section
  h2 📓  Словарь придуманных слов

  p Придумали классное слово и определение к нему? Хотите сохранить ваши находки и поделиться ими с остальными? Для   этого мы создали веб-приложение — онлайн-словарь придуманных слов. Станьте нашим соавтором прямо сейчас!
  .card
    h2 
      a(href="https://app.etovoteto.ru", target="_blank") app.etovoteto.ru


script(src="/js/this.js")