---
title: Словарь
tags: main
layout: layout
date: 2020-07-07
---

section#generator
  .word 
    h2 Несуществующее слово
  .actions
    #generate Генерировать новое слово

  
section
  h2 Словарь

  h1 Каталог придуманных слов и значений к ним

  p Новая версия словаря в активной разработке. Предыщущий прототип вы можете увидеть по адресу 
    a(href="https://app.etovoteto.ru", target="_blank") app.etovoteto.ru


script(src="/js/this.js")