---
title: Словарь
tags: main
layout: layout
---

section#generator
  .card
    h2 Несуществующее слово

section
  h1 Здесь скоро будет новый интерактивный словарь

  p Новая версия словаря в активной разработке. Предыщущий прототип вы можете увидеть по адресу 
  a.card(href="https://app.etovoteto.ru", target="_blank") 
    h2 app.etovoteto.ru


script(src="/js/this.js")