---
layout: layout
page:
  id: start
---

script(src="js/main.js")

section
  blockquote.
    Где-то на стыке привычных «Шляпы» и «Имаджинариума» возникла не просто
    настольная игра, а целый мир веселого совместного словотворчества!
  .long.
    Это веселая и увлекательная игра для любой компании. Она была
    изобретена в конце 2018 года как шутливый ответ на проблему
    переопределённости слов в русском языке. В ней каждый может стать
    автором новых слов и их определений. Это возможность каждому участнику
    проявить себя, получше узнать окружающих и вместе, смеясь,
    обнаруживать новые смыслы и их обозначения.
section#app
section
  // img.right(src="/img/drawing.png", alt="")
  h2 Правила игры
  p.
    Вам понадобятся:
  ul
    li Не менее трёх игроков
    li Пара листов чистой белой бумаги
    li Линейка и ножницы, чтобы нарезать карточки
    li Одинаковые карандаши, ручки или фломастеры по числу игроков
    li Уникальная фишка у каждого игрока
    li Таблица или приложение для ведения счёта или любые “монетки” для набора очков
section
  article
    h3 Подготовка
    ul
      li Нарежьте несколько листов бумаги на одинаковые кусочки примерно 3х5 см.
      li Раздайте всем участникам одинаковые карандаши/ручки и листочки по числу раундов, которые вы хотите сыграть.
    
      li Каждый пишет печатными буквами по центру листа несуществующее слово русского языка. Это может быть любая часть речи — существительное, глагол, прилагательное и т.д. Поставьте в слове знак ударения. Совершенно не обязательно знать заранее, что оно может значить — это выяснится уже в процессе игры.
      li Готовые слова не складывать, а просто собрать вместе и перемешать.
      li Каждый участник должен выбрать свою уникальную фишку вроде монетки или колечка для голосования.

  aside
    h3 Модификация игры:
    h4 СИМВОЛЫ
    p.
      Вместо слов можно изображать на карточках свои символы, смайлы, иконки, логотипы. Ведущий придумывает символу смысл, а остальные рисуют к нему свои версии знаков. Стоит ограничиться простыми фигурами и лаконичным временем рисования — не более 30-90 секунд.

section
  article
    h2 Подсчет очков
    ul
      li Загадывавший слово получает удвоенное число фишек, поставленных на его исходную карточку.
      li Каждый, кто правильно угадал загаданное слово, получает два очка.
      li За каждую фишку, поставленную на остальные слова, их авторы получают по одному очку.
      li Если все игроки поставят свои фишки на загаданное слово, то в этот ход никто очков не получает.
      li После каждого хода ответственный записывает счёт в таблицу или выдаёт игрокам набранное количество очков “монетами”
      li По результатам каждого раунда или всей игры производится подсчёт очков и набравший максимальное число объявляется победителем.

  aside
    h4 Альтернативы: 
    h5 Другие игры в слова
    p.
      ЭТОВОТЭТО — новое слово в довольно широком поле различных лингвистических игр. Если вам нравится жонглировать словами вместе с друзьями, наверняка вам понравится собранная нами коллекция известных нам игр в слова.
section
  h5 Даём волю фантазии и вместе наполняем речь новыми смыслами и словами, которых нам, порой, так не 
