---
title: "Об игре"
tags: main
page:
  id: start
date: 2019-12-25
layout: layout
---

section
  img(src="/img/logo-eto2x.png")

section
  blockquote.
    Где-то на стыке «Шляпы» и «Имаджинариума» возникла не просто новая
    настольная игра, а целый мир веселого совместного словотворчества!

section
  .long.
    Это веселая и увлекательная игра для любой компании. Она была
    изобретена в конце 2018 года как шутливый ответ на проблему
    переопределённости слов в русском языке. В ней каждый может стать
    автором новых слов и их определений. Это возможность каждому участнику
    проявить себя, получше узнать окружающих и вместе, смеясь,
    обнаруживать новые смыслы и их обозначения.

section.row
  .count
    h3 3—12
    h5 число игроков
  .age 
    h3 5+
    h5 возраст игроков

section
  h3.
    Давайте дадим волю фантазии и вместе наполним речь новыми словами, которых, нам порой так не хватает, чтобы лучше понять друг друга.

