---
layout: layout
title: "Об игре"
page:
  id: start
date: 2019-12-25
---

section
  blockquote.
    Где-то на стыке «Шляпы» и «Имаджинариума» возникла не просто новая
    настольная игра, а целый мир веселого совместного словотворчества!

script(src="js/main.js")

section#generator
  .card
    h2 Несуществующее слово

section
  .long.
    Это веселая и увлекательная игра для любой компании. Она была
    изобретена в конце 2018 года как шутливый ответ на проблему
    переопределённости слов в русском языке. В ней каждый может стать
    автором новых слов и их определений. Это возможность каждому участнику
    проявить себя, получше узнать окружающих и вместе, смеясь,
    обнаруживать новые смыслы и их обозначения.
