---
layout: start
title: Главная
page:
  id: start
tags: main
date: 2019-12-25
---

script(src="js/main.js")

section
  blockquote.
    Где-то на стыке привычных «Шляпы» и «Имаджинариума» возникла не просто
    настольная игра, а целый мир веселого совместного словотворчества!
  .long.
    Это веселая и увлекательная игра для любой компании. Она была
    изобретена в конце 2018 года как шутливый ответ на проблему
    переопределённости слов в русском языке. В ней каждый может стать
    автором новых слов и их определений. Это возможность каждому участнику
    проявить себя, получше узнать окружающих и вместе, смеясь,
    обнаруживать новые смыслы и их обозначения.
section#app


section
  h5 Даём волю фантазии и вместе наполняем речь новыми смыслами и словами, которых нам, порой, так не 
