---
title: "Правила"
layout: layout
tags: 
  - main
  - nav
date: 2019-12-30
---

section
  img(src="/img/drawing.png")
  h2!=title

section
  h2 Вам понадобятся:
 
  ul
    li Не менее трёх игроков 
    li Пара пустых листов бумаги
    li Линейка и ножницы, чтобы нарезать карточки
    li Одинаковые карандаши, ручки или фломастеры по числу игроков
    li Уникальная фишка у каждого игрока
    li Таблица или приложение для ведения счёта или любые “монетки” для набора очков

section
  h2 Подготовка
  ul 
    li Участники нарезают несколько листов бумаги на одинаковые листки примерно 3х5 см.
    li Эти чистые карточки раздаются игрокам по числу раундов, которые они хотят сыграть.

    li Каждый пишет печатными буквами по центру листа несуществующее слово русского языка. Это может быть любая часть речи — существительное, глагол, прилагательное и т.д. Поставьте в слове знак ударения. Совершенно не обязательно знать заранее, что оно может значить — это выяснится уже в процессе игры.
    li Готовые слова не складывают, а просто собирают вместе и перемешивают.
    li Каждый участник выбирает свою маленькую уникальную фишку для голосования. Что-то вроде вашей фигурки — ракушку, значок, монетку, орешек и т.п.

section
  h2 Подсчет очков
  ul   
    li Загадавший слово получает удвоенное число фишек, поставленных на его исходную карточку.
    li Каждый, кто правильно угадал загаданное слово, получает два очка.
    li За каждую фишку, поставленную на остальные слова, их авторы получают по одному очку.
    li Если все игроки поставят свои фишки на загаданное слово, то в этот ход никто очков не получает.
    li После каждого хода ответственный записывает счёт в таблицу или выдаёт игрокам набранное количество очков “монетами”
    li По результатам каждого раунда или всей игры производится подсчёт очков и набравший максимальное число объявляется победителем.

section
  h2 Модификации игры:
  h3 Символы
  p.
    Вместо слов можно изображать на карточках свои символы, смайлы, иконки, логотипы. Ведущий придумывает полученному знаку смысл, а остальные рисуют к нему свои версии обозначений. Стоит ограничиться простыми фигурами и установить короткое временя рисования — не более 30-90 секунд по таймеру ведущего. 

  h3 Существующие слова
  p.
    Можно попробовать играть и с существующими словами. Даже договориться придумывать к ним наиболее точные определения. Так можно многое узнать о представлениях друг друга о мире вокруг. Но не принимайте это слишком всерьез — все-таки это игра, а не лекция или экзамен.