---
title: Развитие
tags: 
  - main
  - nav
layout: layout
date: 2021-02-08
---

section.support
  h2 Развитие
  h1 Нравится то, что мы делаем? Поддержите нас!
  p ЭТОВОТЭТО развивается благодаря добровольным вкладам заинтересованных людей. Это позволяет нам делать его максимально открытым и доступным для вас.
  p Собранные средства идут на разработку и поддержку сайта, словаря, наборов, а также на организацию встреч ценителей словотворчества. То есть нас с вами! 
  a.card(href="https://get.capusta.space/bill/99e7f6b9-4472", target="_blank") 
    h3 Сделайте ваш вклад сегодня
  p Мы ответим вам глубокой благодарностью и, по возможности, подарком!