---
title: Развитие
tags: main
layout: layout
date: 2021-01-30
---

section.support
  h1 Нравится проект? Поддержите его развитие!
  h4.
      Благодаря вашим пожертвованиям мы продолжаем делать игру ЭТОВОТЭТО максимально открытой и доступной для всех. 
  p Средства идут на разработку и поддержку сайта, словаря, наборов, а также на организацию встреч ценителей словотворчества. То есть нас с вами! 
  a.card(href="https://get.capusta.space/bill/99e7f6b9-4472", target="_blank") 
    h3 Сделайте ваш вклад сегодня
  p Мы ответим вам глубокой благодарностью и, по возможности, подарком!