extends base

block body
  block header
    include partials/header
    
  
  main(id=(page.id || 'index'))
    block main
      article!=content
        section.donate
          h1 Нравится проект? Поддержите делом!
          h4.
             Благодаря вашим пожертвованиям мы продолжаем делать игру ЭТОВОТЭТО максимально открытой для всех. 
          p Средства идут на дизайн, поддержку и развитие сайта, словаря, коробок, а также на организацию встреч ценителей игры. То есть нас с вами!
          a.card(href="https://get.capusta.space/bill/99e7f6b9-4472", target="_blank") 
            h3 Сделайте ваш вклад сегодня
          p Мы ответим вам глубокой благодарностью и, по возможности, подарками!
  
  block footer
    include partials/footer