extends base

block body
  block header
    header
      h1 ЭТОВОТЭТО
      h2 Настольная игра в придумывание новых слов и их значений
      include nav
  block main
    main(id=(page.id || 'index'))!=content
  block footer
    footer
      .one!=meta.title
      .two 2018—2021
      .three При поддержке Фонда ФРУКТ