extends base

block body
  block header
    include partials/header
  
  block nav
    include partials/nav
  
  main(id=(page.id || 'index'))
    block main
      article!=content
 
  block footer
    include partials/footer