footer
  display: flex
  flex-flow: row wrap
  justify-items: stretch
  padding: 2em
  background-color: var(--footer-bg)

  div
    padding: 0.5em
    text-align: center

  .one
    flex: 4 120px
    font-weight: bold

  .two
    flex: 2 100px

  .three
    flex: 6 200px