header
  padding: 0
  font-size: 1.4rem
  flex: 1 1 360px
  background-color: var(--header-bg)

  .block
    position: sticky
    top: 2em

  .title
    padding: 1em

    a
      text-decoration: none

    h2
      font-weight: normal