blockquote
  padding: 1em
  margin: 0.5em
  font-size: 1.2em
  border-left: 6px solid var(--border-color)

img
  max-width: 100%

ul
  padding: 0 1em

  li
    padding-left: 0.5em

  ::marker
    content: '—'

a.toTop
  position: fixed
  bottom: 2em
  right: 2em
  background-color: var(--bar-color)
  padding: 2px 8px
  border-radius: 2em
