@import 'fonts.styl'
@import 'variables.styl'
@import 'generator.styl'

body
  padding: 0
  margin: 0
  color: var(--text-color)
  background-color: var(--background)
  font-family: 'Commissioner', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 15px
  line-height: 1.7em
  word-break: break-word

header
  padding: 10em 2em 2em 2em
  background-color: var(--header-bg)

main
  padding: 2em

footer
  padding: 2em
  background-color: var(--footer-bg)