@import 'fonts.styl'
@import 'variables.styl'
@import 'content.styl'
@import 'partials/generator.styl'
@import 'partials/nav.styl'
@import 'partials/footer.styl'
@import 'partials/header.styl'

html
  scroll-behavior: smooth

body
  padding: 0
  margin: 0
  color: var(--text-color)
  background-color: var(--background)
  font-family: 'Commissioner', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 1.2rem
  line-height: 2.2rem
  font-weight: normal
  word-break: break-word
  height: 100vh
  display: flex
  flex-flow: row wrap
  justify-content: stretch

main
  flex: 100 1 540px

  > article
    max-width: 55ch

  section
    padding: 2em

a
  color: var(--text-light)
  text-decoration: none

a.button
  padding: 2em
  background-color: var(--button-secondary)
  font-weight: bold
  margin: 1em 0
  display: block

.spacer
  flex: 1 1 100%

.card
  padding: 2em
  background-color: var(--button-secondary)
  margin: 2em 0
  display: block

article > section:nth-child(even)
  background-color: var(--background-alt)

article > section:nth-child(odd)
  background-color: var(--background)

section.row
  display: flex
  flex-flow: row wrap

  >div
    flex: 1
    text-align: center
    font-size: 1.5em
