:root
  --header-bg: hsla(0, 0%, 0%, 0.1)
  --footer-bg: hsla(0, 0%, 0%, 0.5)
  --footer-pre: hsla(0, 0%, 0%, 0.42)
  --background: hsla(0, 0%, 95%, 1)
  --background-alt: hsla(0, 0%, 90%, 0.8)
  --top-bar: #aaa
  --body-padding: 1em
  --button-secondary: #cccccc
  --button: #999
  --button-active: #888
  --bar-color: #ddd
  --small-radius: 4px
  --text-color: #333
  --text-light: #555
  --mobile-size: 500px
  --border-color: #666
  --border-thin: 1px solid hsla(0, 0%, 0%, 0.2)
  --background-transparent: hsla(0, 0%, 95%, 0.85)
  --max-content: 50ch

@media (prefers-color-scheme: dark)
  :root
    --header-bg: hsla(0, 0%, 100%, 0.1)
    --footer-bg: hsla(0, 0%, 100%, 0.4)
    --background: hsla(0, 0%, 20%, 1)
    --background-alt: hsla(0, 0%, 30%, 0.8)
    --top-bar: #666
    --body-padding: 1em
    --button-secondary: #222
    --button: #343434
    --button-active: #424242
    --bar-color: #333
    --small-radius: 4px
    --text-color: #eee
    --text-light: #aaa
    --mobile-size: 500px
    --border-color: #999
    --border-thin: 1px solid hsla(0, 0%, 100%, 0.2)
